.button {
  font: inherit;
  border: 1px solid #48dbfb;
  background: #48dbfb;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #3dd3f5;
  border-color: #3dd3f5;
}

.button:focus {
  outline: none;
}
